// @import "~assets/css/_base.scss";
@mixin shadow {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
}

@mixin no-shadow {
  text-shadow: 0px 0px 0px;
  filter: none;
}
