// COLORS
$purple: #906290;
$green: #b9d54a;
$orange: #ec9353;
$beige: #dbd27c;
$grey: #0b2541;
$red: red;
$link-color: $purple;

$ivory: rgba(255, 253, 244, 1); // #FFFDF4 IVORY

$grey: #333;
$greyLighter: lighten($grey, 40);
$greyLightest: lighten($grey, 70);

$black: hsla(0deg 6% 16%/1);
$white: white;

$text: $black;
$paleyellow: rgba(255, 255, 191, 0.6); //pale yellow trans
